
  <body>
      <style>
      body {
    background-color: #648219;
    background-image : url('http://blogfiles7.naver.net/20151124_219/qhrhvk1106_1448359238389AFxXU_PNG/%BA%B8%B3%EB%BA%B8%B3%EB1.png');
    background-repeat : no-repeat;
    background-size : contain ;
    background-position : center center;
    background-attachment : fixed;
    }
    h1 {
          font-family : Bradley Hand, cursive;
    }
    h3 {
      font-family : Luminari, fantasy;
      text-align : bottom;
    }
    div {
         position : fixed;
         left : 12%;
         right : 50%;
         bottom : 50%;
         top : 8%;
         border: 3px solid #2F9D27;
         border-radius: 15px;
         -moz-border-radius: 15px;
         -webkit-border-radius: 15px;
         -o-border-radius: 15px;
   
        padding: 30px;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        background-color: #ffffff;
        background-color: rgba( 255, 255, 255, 0.4 );
    }
      </style>
      <div>
        <span  style "font-size= 100%">
        <h1>포로리야~ <br>이번 주 당첨 번호는 뭐야~</h1>
        
    <h3 class = "text-right"> 확인해볼까아~?</h3> </span>
    <a href = "/home/show">
      <img src = "http://cafefiles.naver.net/20130813_197/ouc6966_1376401633051k9SOK_JPEG/rtugc-6.jpeg" alt = "페이지넘기기" class="img-circle"/>
      </a>
      </div>
      
    
      
    <%= yield %>
   
  </body>

